.container
{
    //border: 2px solid black;
}
.col
{
    //border: 1px solid black;
} 
img
{
    width: 100%;
}
.cont2-1>p, .cont2-2 p
{
    text-align: justify;
}
.cont2-2 h6, .cont2-2 img
{
    text-align: center;
}